<%layout('layouts/boilerPlate')%>

<div class="row auto-x">
    
        <div class="col-lg-4 mx-1 mb-3" style="margin-top: 70px;">
            <div class="card" style="width: 18rem;">
                <img src="<%=pdt.img%>" class="card-img-top" alt="product image">
                <div class="card-body">
                  <h5 class="card-title"><%=pdt.name%></h5>
                  <h5 class="card-title"><%=pdt.price%></h5>
                  <p class="card-text"><%=pdt.description%></p>
                  <a href="#" class="btn btn-primary">Buy now</a>
                  <a href="/products/<%=pdt._id%>/edit" class="btn btn-primary">Edit</a>
                  <form action="/products/<%=pdt._id%>?__method=delete" method="post">
                    <button class="btn btn-primary">Delete</button>
                  </form>
                  
                </div>
              </div>
        </div>

        <div class="col-lg-4" style="margin-top: 70px;">
          <h3>Leave your reviews</h3>
          <form action="/products/<%=pdt._id%>/review" method="POST">
            <div class="mb-3">
            
              <fieldset class="starability-basic">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              
          </div>
          <div class="mb-3 ">
            <label for="comment" class="form-label">Description</label>
            <textarea name="comment" class="form-control" id="comment" cols="30" rows="3"></textarea>
          </div>
          <button class="btn btn-success btn-sm">Submit</button>
          </form>

          <%for(let item of pdt.reviews){%>
            <div class="m-3 p-1">
              <p class="starability-result" data-rating="<%=item.rating%>">
                Rated: <%=item.rating%> stars
              </p>
             
              <p><%=item.comment%></p>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          <%}%>
        </div>
    
    
</div>

